body{

	/*font-family: 'Heebo', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.navbar{

	background-color: #22456A;
	min-height: 90px;
}

.navbar-brand {
    color: #DDECF6;
    font-size: 25px;
}

.navbar-brand:hover{

	color: #8F9BA3;
}

.nav-link{
	color: #CFDBE8;
}

.nav-link:hover{
	color: #09A5AF;
}

#santi{

	background-image: url('../img/paisaje11.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #125879;

}

.content-center{

	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;

}

.content-center p{
	color: #996669;
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 0;
	font-weight: 200;
}

.content-center h1{
	color: #C0C0C0;
	font-size: 40px;
	font-weight: 600;
	line-height: 80px;
}

.btn{
  font-size: 18px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-ligth{

	background-color: #E3EBF0;
	color: #00080C;
	border: 2px solid;
}

.btn i{
	font-size: 18px;
	margin-left: 5px;
}

.btn a{
	font-size: 
}

.portafolio-detalle h1{
	font-size: 66px;
	font-weight: 700;
	line-height: 80px;
	color: #DCDCDC;
	margin-top: 10px;
}

section{
	padding: 120px 0;

}

section p{
	color: #125474;
}

.portafolio-conteiner{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 0px;
}

.portafolio-detalle{

	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 9000;
	
}

.portafolio-detalle a{

	color: #F0DCE2;

}

.portafolio-conteiner img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: 0.8s;
	-webkit-transition:scale(1.2);

}

.portafolio-conteiner:hover img{

	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);

}
@media (max-width: 575.98px) {

	h1{ font-size: 40px; line-height: normal; }
}


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }