body{

	/*font-family: 'Heebo', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.navbar{

	background-color: #22456A;
	min-height: 90px;
}

.navbar-brand {
    color: #DDECF6;
    font-size: 25px;
}

.navbar-brand:hover{

	color: #8F9BA3;
}

.nav-link{
	color: #CFDBE8;
}

.nav-link:hover{
	color: #09A5AF;
}

#santi{

	background-image: url('../img/paisaje14.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #ffffff;

}

.content-center{

	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;

}

.content-center p{
	color: #aaa666;
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 0;
}

.content-center h1{
	color: #F8F3FC;
	font-size: 40px;
	font-weight: 600;
	line-height: 80px;
}

.btn{
  font-size: 18px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-ligth{

	background-color: #E3EBF0;
	color: #00080C;
	border: 2px solid;
}

.btn i{
	font-size: 18px;
	margin-left: 5px;
}

.btn a{
	font-size: 
}


@media (max-width: 575.98px) { ... }


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }