body{

	/*font-family: 'Heebo', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.navbar{

	background-color: #22456A;
	min-height: 90px;
}

.navbar-brand {
    color: #DDECF6;
    font-size: 25px;
}

.navbar-brand:hover{

	color: #8F9BA3;
}

.nav-link{
	color: #CFDBE8;
}

.nav-link:hover{
	color: #09A5AF;
}

#santi{

	background-image: url('../img/paisaje13.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #125879;

}

.content-center{

	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;

}

.content-center p{
	color: #696969;
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 0;
	font-weight: 300;
}

.content-center h1{
	color: #2F4F4F;
	font-size: 40px;
	font-weight: 600;
	line-height: 80px;
}

.content-seccion-dos{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

.content-seccion-dos h1{
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
}

.content-seccion-dos p{
	font-weight: 400;
	line-height: 1.8;
	font-size: 25px;
	margin-bottom: 0;
}

.btn{
  font-size: 18px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-ligth{

	background-color: #E3EBF0;
	color: #00080C;
	border: 2px solid;
}

.btn i{
	font-size: 18px;
	margin-left: 5px;
}

.btn a{
	font-size: 
}

.portafolio-detalle h1{
	font-size: 66px;
	font-weight: 700;
	line-height: 80px;
	color: #DCDCDC;
	margin-top: 10px;
}

section{
	padding: 120px 0;

}

section p{
	color: #125474;
}

.portafolio-conteiner{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 0px;
}

.portafolio-detalle{

	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 9000;
	
}

.portafolio-detalle a{

	color: #F0DCE2;

}

.portafolio-conteiner img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: 0.8s;
	-webkit-transition:scale(1.2);

}

.portafolio-conteiner:hover img{

	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);

}

.container .imgu{
	width: 400px;
	height: 300px;
}

.member-container{
	position: relative;
	margin: 10px;
}

.member-detail{
	position: absolute;
	color: #ffffff;
	bottom: 0px;
	left: 20px;
}

.member-detail span{
		font-size: 16px;
		color:  #faf6f6 ;
}

.member-detail i{
	padding: 0 5px;
}

.member-detail a i {
	font-size: 22px;
	color: #ffffff;
}

.planes-container{
    margin:15px 0;
}

.planes{
   padding: 50px 80px;
   border-radius: 2px;
   min-width: : 450px;
}

.planes-blanco{
  background-color: #F4FBFB ;
  border: 2px solid #0E1313 ;
}

.planes-negro{
   background-color: #242626 ;
   border: 2px solid #171919 ;
   color: #EBF5F5 ;
}

.btn-blanco{
	background-color: #2B2E2E;
	color: #F6FCFC;
	border: 2px solid #1E1E1E;
}

.btn-negro{
	background-color: #1E1E1E;
	color: #E3EDED;
	border: 2px solid #E3EDED;
}

.botonPlanes{
	padding: 10px 140px;
	
	min-width:160px;

	

}

.planes h2{
	font-size: 70px;
	font-weight: 600;

}

.planes span{
	font-size: 15px;
}

.planes ul{
	list-style-type: square;
}

.carousel{
	min-height: 240px;
	padding: 40px;
	border-radius: 2px;
	text-align: center;
}

.carousel p{
	font-size: 26px;
	font-weight: 400;
	color: #556987;
}

.rating i{
   color: #335893;
   font-size: 26px;
}

.carousel-indicatiors li{

	background-color: #1a1a1a;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	margin: 0 8px;
}

.carousel-control-next, .carousel-control-previous {
	color: #ffffff;
	opacity: 1;
	width: 5px;
}

.control-button{
	background-color: #1a1a1a;
	opacity: 1;
	width: 50px;
	height: 50px;
	padding: 10px;
	border:  1px solid #1a1a1a;
	font-size: 20px;
}

.carousel-container{
	max-width: 800px;
	margin: 0 auto;


}
.testimonial-user{
	max-width: 240px;
	margin: 0 auto;
	text-align: left;
}

.testimonial-user h6{
	margin-bottom: 0px;

}

.testimonial-user span{
	font-size: 12px;
}

.testimonial-user img{
	border-radius: 50%;
	max-width: 50px;
	text-align: center;
}


@media (max-width: 575.98px) {

	h1{ font-size: 40px; line-height: normal; }
	h5{
		margin-bottom: 0px;
	}
	.portafolio-detale{font-size: 32px;}
	.planes{min-width: unset;padding: 40px;}
}


@media (min-width: 576px) and (max-width: 767.98px) { 
   
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
		.planes{min-width: unset;padding: 40px 20px;}


 }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }